NEXT_PUBLIC_SITE_URL=https://civic-merge-muscle-singing.trycloudflare.com

# --- SUPABASE ---
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_ADMIN_KEY=admin_supabase_anon_key_here

# --- STREAMING ---
STREAM_SECRET=your_stream_key_here

# --- LIVEKIT ---
LIVEKIT_URL=https://kiwame-xhr8wtpu.livekit.cloud
NEXT_PUBLIC_LIVEKIT_URL=wss://kiwame-xhr8wtpu.livekit.cloud
LIVEKIT_API_KEY=API2ZsC4Nw4US3e
LIVEKIT_API_SECRET=BheE8vhLjmxEXGJXacHVxLLO9EUVnzpZJxRWc9En3GC

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=digs0j48ll
CLOUDINARY_API_KEY=9746858146672455
CLOUDINARY_API_SECRET=8LZlDdXJ9LFCgW42T9IJ2-4bh2cc
